<template lang="html">
  <div class="featured-meetup">
    <div v-for="card in cards.slice(0, 1)" class="featured-meetup__banner">
      <h1 class="featured-meetup__title">{{ card.name }}</h1>
      <h2 class="featured-meetup__rsvp">{{ card.yes_rsvp_count}} members attending</h2>
      <div class="featured-meetup__info">
        <div class="featured-meetup__date">
          <p class="featured-meetup__day">{{ card.time }} ({{ card.local_date }}) at</p>
          <p class="featured-meetup__time">{{ card.local_time }}</p>
        </div>
        <div class="featured-meetup__location">
          <p class="featured-meetup__venue">{{ card.venue.name}}</p>
          <p class="featured-meetup__address">{{ card.venue.address_1 }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'FeaturedMeetup',
    props: {
      cards: {
        type: Array
      }
    }
  };
</script>

<style lang="scss">
  .featured-meetup {
    display: flex;
    justify-content: center;

    &__banner {
      background-color: #0083b3;
      width: 100%;
      color: #ffffff;
      padding: 1.25rem;
    }

    &__title,
    &__rsvp {
      font-size: 1rem;

      @media only screen and (min-width: 768px) {
        font-size: 1.5rem;
      }

      @media only screen and (min-width: 1024px) {
        font-size: 2rem;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      text-align: center;
      font-weight: bold;

      @media only screen and (min-width: 1024px) {
        flex-direction: row;
      }
    }

    &__date,
    &__location {
      width: 100%;
      font-size: 0.75rem;

      @media only screen and (min-width: 768px) {
        font-size: 1rem;
      }

      @media only screen and (min-width: 1024px) {
        flex: 0 0 50%;
        font-size: 1.25rem;
      }
    }

    &__date {
      @media only screen and (min-width: 1024px) {
        text-align: left;
      }
    }

    &__location {
      @media only screen and (min-width: 1024px) {
        text-align: right;
      }
    }
  }
</style>
