<template lang="html">
  <div class="meetup-calendar">
    <featured :cards="cards" />
    <card :cards="cards" />
  </div>
</template>

<script>
  import axios from 'axios';
  import featured from './FeaturedMeetup.vue';
  import card from './DayCard.vue';

  export default {
    components: {
      'featured': featured,
      'card': card
    },
    name: 'MeetupCalendar',
    data () {
      return {
        cards: [],
        errors: []
      };
    },
    methods: {
      parseLocalDate (cards) {
        for (let i = 0; i < cards.length; i++) {
          if (cards[i].length) {
            for (let j = 0; j < cards[i].length; j++) {
              this.getDayOfWeek(cards[i][j].local_date, i, j);
            }
          }

          this.getDayOfWeek(cards[i].local_date, i);
        }
      },
      getDayOfWeek (date, i, j) {
        const dayOfWeek = new Date(date).getDay();
        const ternaryDay = isNaN(dayOfWeek) ? null : ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'][dayOfWeek];

        if (j === undefined) {
          this.cards[i].time = ternaryDay; // eslint-disable-line camelcase
        } else {
          this.cards[i][j].time = ternaryDay; // eslint-disable-line camelcase
        }
      }
    },
    created () {
      axios.get('/meetupAPI')
      .then(response => {
        this.cards = response.data;
        this.parseLocalDate(this.cards);
      })
      .catch(e => {
        this.errors.push(e);
      });
    }
  };
</script>

<style lang="scss">
  .meetup-calendar {
    background-color: #000000;

  }
</style>
